*{
  font-family: 'Nova Square', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:70vh;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: 900;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);

}

.circle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 290px;
  border: 5px solid grey;
  color: white;
  font-size: xx-large;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0px 5px 8px rgba(255, 255, 255, 0.1);
}

.btnContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

button {
  color: white;
  background: transparent;
  border: 1px solid grey;
  border-radius: 25px;
  width: 100px;
  box-shadow: 0px 8px 10px rgba(255, 255, 255, 0.1);
  height: 40px;
}

.millisecond {
  font-size: large;
}
